.inputDiv
{

    top: 60px;
    bottom: 350px;
    left: 0;
    right: 0;

    text-align: center;
    /*justify-content: space-between;*/
}
.inputDiv input
{

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
    /*margin-right: auto;*/
    text-align:center;
}
.submitButton
{

    box-sizing: content-box;
    font-size: 16px;
    background-color: black;
    padding: 10px;
    color: white;
    /*margin-right: auto;*/
    text-align:center;
}
#myTable{
    top: 110px;
/*display: none;*/
}